classes:
  RobotVisualisation:
    scene:
      width: 4000
      height: 1500
    beams:
      top:
        width: 4000
        height: 160
        color: "#555555"
      left:
        width: &arm_width 40
        height: &arm_height 1500
        color: green
      right:
        width: *arm_width
        height: *arm_height
        color: red
  RimoServer:
    statusAddress: &statusAddr "ipc:///tmp/rimoStatus"
    commandAddress: &commandAddr "ipc:///tmp/rimoCommand"
  RimoClient:
    statusAddress: *statusAddr
    commandAddress: *commandAddr
  Contec:
    ipAddress: "10.1.1.101"
    port : 502
    slaveId: 0
    nDI : 16
    nDO : 8
    nAI : 0 #so far not used