classes:
  RobotVisualisation:
    scene:
      width: 4000
      height: 1500
    beams:
      top:
        width: 4000
        height: 160
        color: "#555555"
      left:
        width: &arm_width 40
        height: &arm_height 1500
        color: green
      right:
        width: *arm_width
        height: *arm_height
        color: red
  RimoServer:
    statusAddress: &statusAddr "ipc:///tmp/rimoStatus"
    commandAddress: &commandAddr "ipc:///tmp/rimoCommand"
  RimoClient:
    statusAddress: *statusAddr
    commandAddress: *commandAddr
  Contec:
    ipAddress: "10.1.1.101"
    port : 502
    slaveId: 0
    nDI : 16
    nDO : 8
    nAI : 0 #so far not used
  ControlPanel:
    comm:
      type: "serial"
      serial:
        port: "/dev/ttyACM0"
        baudRate: "BAUD_115200" #libserial naming
        characterSize: "CHAR_SIZE_8"
        flowControl: "FLOW_CONTROL_NONE"
        parity: "PARITY_NONE"
        stopBits: "STOP_BITS_1"
        readTimeoutMS: 200
        lineTerminator: "\\n"
    processing:
      movingAverageDepth: 5
      baselineSamples: 50
      buttonDebounceSamples: 3
  MotorControl:
    model: "AR-KD2"
    device: "/dev/ttyr03"
    baud: 115200
    parity: "E"
    dataBits: 8
    stopBits: 1
    responseTimeoutMS: 1000
    motorAddresses:
      XLeft: 1
      XRight: 2
      YLeft: 3
      YRight: 4
      ZLeft: 5
      ZRight: 6
  Machine:
    loopIntervalMS: 10
    updateIntervalMS: 50
    inputMapping:
      safetyON : 8
      button1 : 9
      button2 : 10
      tclProx : 0
      tclOpen : 2
      tclClose: 3
      tcrProx: 4
      tcrOpen: 5
      tcrClose: 6
    outputMapping:
      toolChangerLeft: 0
      toolChangerRight: 1
      light1 : 2
      light2 : 3
